Code/Final/ECMonitoring/ECMonitoring.Manager/Connected Services/ServiceReference/ECMService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ECMService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8733/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ECMonitoring.Service.Storage" />
      <xsd:import schemaLocation="http://localhost:8733/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/ECMonitoring.Core" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IECMService_DoWork_InputMessage">
    <wsdl:part name="parameters" element="tns:DoWork" />
  </wsdl:message>
  <wsdl:message name="IECMService_DoWork_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoWorkResponse" />
  </wsdl:message>
  <wsdl:message name="IECMService_GetDataByEndPointId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataByEndPointId" />
  </wsdl:message>
  <wsdl:message name="IECMService_GetDataByEndPointId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataByEndPointIdResponse" />
  </wsdl:message>
  <wsdl:message name="IECMService_GetDataByServiceId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataByServiceId" />
  </wsdl:message>
  <wsdl:message name="IECMService_GetDataByServiceId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataByServiceIdResponse" />
  </wsdl:message>
  <wsdl:message name="IECMService_HttpErrorsReset_InputMessage">
    <wsdl:part name="parameters" element="tns:HttpErrorsReset" />
  </wsdl:message>
  <wsdl:message name="IECMService_HttpErrorsReset_OutputMessage">
    <wsdl:part name="parameters" element="tns:HttpErrorsResetResponse" />
  </wsdl:message>
  <wsdl:portType name="IECMService">
    <wsdl:operation name="DoWork">
      <wsdl:input wsaw:Action="http://tempuri.org/IECMService/DoWork" message="tns:IECMService_DoWork_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IECMService/DoWorkResponse" message="tns:IECMService_DoWork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataByEndPointId">
      <wsdl:input wsaw:Action="http://tempuri.org/IECMService/GetDataByEndPointId" message="tns:IECMService_GetDataByEndPointId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IECMService/GetDataByEndPointIdResponse" message="tns:IECMService_GetDataByEndPointId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataByServiceId">
      <wsdl:input wsaw:Action="http://tempuri.org/IECMService/GetDataByServiceId" message="tns:IECMService_GetDataByServiceId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IECMService/GetDataByServiceIdResponse" message="tns:IECMService_GetDataByServiceId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="HttpErrorsReset">
      <wsdl:input wsaw:Action="http://tempuri.org/IECMService/HttpErrorsReset" message="tns:IECMService_HttpErrorsReset_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IECMService/HttpErrorsResetResponse" message="tns:IECMService_HttpErrorsReset_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IECMService" type="tns:IECMService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DoWork">
      <soap:operation soapAction="http://tempuri.org/IECMService/DoWork" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataByEndPointId">
      <soap:operation soapAction="http://tempuri.org/IECMService/GetDataByEndPointId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataByServiceId">
      <soap:operation soapAction="http://tempuri.org/IECMService/GetDataByServiceId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HttpErrorsReset">
      <soap:operation soapAction="http://tempuri.org/IECMService/HttpErrorsReset" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ECMService">
    <wsdl:port name="BasicHttpBinding_IECMService" binding="tns:BasicHttpBinding_IECMService">
      <soap:address location="http://localhost:8733/ECMonitoring.Service.ECMService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>