Code/Final/ECMonitoring/ECMonitoring.Manager/Connected Services/ServiceReference/item3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ECMonitoring.Service.Storage" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ECMonitoring.Service.Storage" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/ECMonitoring.Core" />
  <xs:complexType name="EcmData">
    <xs:sequence>
      <xs:element minOccurs="0" name="EndPointId" type="xs:long" />
      <xs:element minOccurs="0" name="HttpErrorsCount" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="IsResourceRequestSuccess" type="xs:boolean" />
      <xs:element minOccurs="0" name="MemoryUsage" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="ProcessorTime" nillable="true" type="xs:double" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ECMonitoring.Core" minOccurs="0" name="StatusLanDevice" nillable="true" type="q1:LanDeviceStatus" />
      <xs:element minOccurs="0" name="TypeMonitor" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EcmData" nillable="true" type="tns:EcmData" />
  <xs:complexType name="ArrayOfEcmData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EcmData" nillable="true" type="tns:EcmData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEcmData" nillable="true" type="tns:ArrayOfEcmData" />
</xs:schema>